<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- META TAGS -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- TITLE -->
    <title>Vue To-Do List</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- BOOTSTRAP -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="./css/style.css" />

    <!-- Vue JS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- MAIN JS -->
    <script type="text/javascript" src="./js/main.js" defer></script>
  </head>

  <body>
    <div id="root">
      <div class="container p-0 d-flex">
        <!-- start left container -->
        <div class="containerLeft d-flex flex-column">
          <!-- header -->
          <div class="header d-flex justify-content-between gap-5 p-2">
            <!-- header image -->
            <div class="userImg d-flex align-items-center">
              <img src="./img/avatar_io.jpg" alt="avatar" />
              <span class="userName">Venera</span>
            </div>
            <div class="space"></div>

            <!-- header icons -->
            <div
              class="icons d-flex align-items-center justify-content-center gap-3 opacity-50"
            >
              <i class="i fa-solid fa-circle-notch"></i>
              <i class="i fa-solid fa-message"></i>
              <i class="i fa-solid fa-ellipsis-vertical"></i>
            </div>
          </div>
          <!-- notifications -->
          <div
            class="notification d-flex align-items-center justify-content-start gap-3"
          >
            <!-- notification icon -->
            <div
              class="notifIcon d-flex align-items-center justify-content-center"
            >
              <i class="i fa-solid fa-bell-slash"></i>
            </div>
            <!-- notification text -->
            <div class="notifText">
              <h6 class="m-0">Ricevi notifiche di nuovi messaggi</h6>
              <a href="#" class="text-muted">Attiva notifiche desktop</a>
            </div>
          </div>
          <!-- search -->
          <div class="search d-flex align-items-center justify-content-start">
            <div class="input-group my-1">
              <span class="input-group-text bg-white" id="inputGroup-sizing-sm "
                ><i class="fa-solid fa-magnifying-glass opacity-50"></i
              ></span>
              <input
                type="text"
                placeholder="Cerca o inizia una nuova chat"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
              />
            </div>
          </div>

          <!-- user profiles -->
          <div class="mainUsers">
            <ul>
              <!-- first user -->

              <li
                v-for="(contact, activeContact) in contacts"
                @click="findChat(activeContact)"
                class="userBox px-4"
              >
                <div
                  class="userData d-flex align-items-center justify-content-between py-3"
                >
                  <div class="userName d-flex align-items-center gap-2">
                    <img
                      :src="'img/avatar' + contact.avatar + '.jpg'"
                      class="mainUsersImg"
                      alt="avatar-1"
                    />

                    <span class="d-flex flex-column">
                      <h5 class="m-0 fw-semibold">{{contact.name}}</h5>
                      <h6 class="lastMessage mb-0">Tutto fatto!</h6>
                    </span>
                  </div>

                  <div class="hour">
                    <h6 class="lastMessage">16:15</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- start right container  -->
        <div class="containerRight d-flex flex-column justify-content-between">
          <div
            class="header headerRight d-flex align-items-center justify-content-between gap-5 p-2"
          >
            <div class="firstUser d-flex">
              <img
                src="./img/avatar_1.jpg"
                class="mainUsersImg"
                alt="avatar-1"
              />
              <div class="firstUserDesc">
                <h5>Michele</h5>
                <h6 class="lastMessage m-0">Ultimo accesso oggi alle 16:15</h6>
              </div>
            </div>
            <div
              class="icons d-flex align-items-center justify-content-center gap-3 opacity-50"
            >
              <i class="i fa-solid fa-magnifying-glass"></i>
              <i class="i fa-solid fa-paperclip"></i>
              <i class="i fa-solid fa-ellipsis-vertical"></i>
            </div>
          </div>
          <!-- right container main content -->
          <div class="rightContainerMain">
            <div
              v-for="(message, index) in contacts[activeContact].messages"
              class="allMessages d-flex flex-column p-3"
            >
              <div :class="message.status" class="message sent">
                <p class="mb-0">{{message.message}}</p>
                <p class="orario">15:30</p>
              </div>
            </div>
          </div>
          <!-- right container footer -->
          <div
            class="header footer-right d-flex justify-content-between align-items-center gap-4 px-3"
          >
            <div class="">
              <i
                @click="addMessage(activeContact)"
                class="i fa-regular fa-face-smile"
              ></i>
            </div>
            <div class="input-group my-1">
              <input
                v-model="newMessage.message"
                @keyUp.enter="addMessage(activeContact)"
                type="text"
                v-model="newMessage.message"
                placeholder="Scrivi un messagio "
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
              />
            </div>
            <div class="">
              <i class="i fa-solid fa-microphone"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
